
<h1>ToDo Application</h1>
<div name="add-list-div">
<p>
Spodaj vnesi kaj potrebuješ storiti.
</p>
<textarea name="task-text" cols=100 rows=10></textarea>
<br>
<button name="add-min-priority">DodajMin</button>
<button name="add-max-priority">DodajMax</button>
</div>
<div>
  <table class="table-min-priority">
    <tr>
      <td class="naloga-td">Naloga</td>
      <td class="gumb-td">Končana naloga</td>
      <td class="gumb-td">Povečaj prioriteto</td>
      <td class="gumb-td">Izbriši nalogo</td>
    </tr>
    <tr>
      <td>abcaaaaaaaaaaaaaaaaaaaaaaaa a a a a a a a a a a a a a a a a a a a a a a a a aaa aaaaa a a a a a</td>
      <td><button></button></td>
      <td><button></button></td>
      <td><button></button></td>
    </tr>
  </table>
</div>
<div>
    <table class="table-max-priority">
    <tr>
      <td class="naloga-td">Naloga</td>
      <td class="gumb-td">Končana naloga</td>
      <td class="gumb-td">Zmanjšaj prioriteto</td>
      <td class="gumb-td">Izbriši nalogo</td>
    </tr>
    <tr>
      <td>abc</td>
      <td><button></button></td>
      <td><button></button></td>
      <td><button></button></td>
    </tr>
  </table>
</div>